{% extends 'layout.html' %}
{% load static %}
{% block hero %}
    <h1>Blog</h1>
{% endblock %}
{% block image %}
    <img src="{% static 'images/couch.png' %}" class="img-fluid">
{% endblock %}
{% block section %}

		<title>Blog</title>

		<!-- Start Blog Section -->
		<div class="blog-section">
			<div class="container">
				
				<div class="row">
                {% for blogs in blogs %}
					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="media/{{ blogs.image }}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#"> {{blogs.title}}</a></h3>
								<div class="meta">
									<span>by <a href="#">{{ blogs.name}}</a></span> <span>on <a href="#">{{ blogs.date}}</a></span>
								</div>
							</div>
						</div>
					</div>
                {% endfor %}

				</div>
			</div>
		</div>
		<!-- End Blog Section -->	

		

		<!-- Start Testimonial Slider -->
		<div class="testimonial-section before-footer-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mx-auto text-center">
						<h2 class="section-title">Testimonials</h2>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="testimonial-slider-wrap text-center">

							<div id="testimonial-nav">
								<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
								<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
							</div>

							<div class="testimonial-slider">
								
								 {% for testimonial in testimonial %}

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;{{ testimonial.testimonial }}&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="media/{{ testimonial.image }}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">{{ testimonial.name }}</h3>
													<span class="position d-block mb-3">{{ testimonial.post }}</span>
												</div>
											</div>

										</div>
									</div>
								</div>
								<!-- END item -->
                                {% endfor %}


							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Testimonial Slider -->

		
{% endblock %}